{% extends 'base.html' %} 
 
{% block title %}Products{% endblock %} 
 
{% block content %} 
<h1>Products</h1> 
{% for product in products %}
<div class="card" style="width: 18rem;">
    <img src="{{media_url}}{{product.image}}" class="card-img-top"> 
    <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5> 
        <p class="card-text">{{ product.description }}</p> 
        <p class="text-muted">Category: {{ product.category.name }}</p> 
        <p class="text-danger">Price: ${{ product.price }}</p> 
    </div>
</div>  
    {% endfor %} 
</div> 

{% endblock %} 
