{% extends 'base.html' %} 
 
{% block title %}Products{% endblock %} 
 
{% block content %} 
<h1>Get the Latest Mobile Device</h1> 
<div class="row"> 
    {% for product in products %} 
    <div class="col-md-4"> 
        <div class="card mb-4"> 
            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ 
product.name }}"> 
            <div class="card-body"> 
                <h5 class="card-title">{{ product.name }}</h5> 
                <p class="card-text">{{ product.description }}</p> 
                <p class="text-muted">Category: {{ product.category.name }}</p> 
                <p class="text-danger">Price: ${{ product.price }}</p> 
                <a href="{% url 'add_to_cart' product.id %}" class="btn btn
primary">Add to Cart</a> 
            </div> 
        </div> 
    </div> 
    {% endfor %} 
</div> 
<a href="{% url 'view_cart' %}" class="btn btn-info">View Cart</a> 
{% endblock %} 
 
